body {
	background-size: 400% 400%;
	height: 100vh;
    background-image: url("./assets/image.png");
}

.nabla {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-style: normal;
}

.PDP {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(214, 214, 214, 0.178);
}

.PDP img{
    position: relative;
    align-items: center;
    left: auto;
    margin: 20px;
    width: 250px;
    height: auto;
    border-radius: 50px 25px; 
}

.PDP .name {
    position: relative;
    text-align: center;
    top: auto;
    font-size: 46px;
    font-family: "Jersey 15";
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-top: 50px;
}

.PDP .alias {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}

.buttn {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30%;
}

.PDP button {
    justify-content: center;
    font-size: 25px;
    border: 0px;
    height: fit-content;
    margin: 20px;
    border-radius: 25px;
    transition: 1s;
}

.PDP .link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button:hover {
    position: relative;
    color: white;
    background-color: blueviolet;
    /* top: -10px; */
    /* transform: rotateZ(-10deg); */
    transform: rotate3d(1, 1, 1, -10deg);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}