body {
	background-size: 400% 400%;
	height: 98vh;
    background-image: url("./assets/image.png");
}

.nabla {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-style: normal;
}

.PDP {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 0px;
    border-radius: 0px 50px 50px 0px;
    backdrop-filter: invert(10%);
    /* background-color: rgba(214, 214, 214, 0.089); */
}

.PDP img{
    position: relative;
    align-items: center;
    left: 2%;
    margin: 20px;
    width: 250px;
    height: auto;
    border-radius: 50px 25px; 
}

.PDP .name {
    position: relative;
    text-align: center;
    top: auto;
    font-size: 46px;
    font-family: "Jersey 15";
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-top: 50px;
    transition: .5s linear;
}

.PDP .alias {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}

.buttn {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30%;
}

.PDP button {
    justify-content: center;
    font-size: 25px;
    border: 0px;
    height: fit-content;
    margin: 20px;
    border-radius: 25px;
    transition: .5s;
}

.PDP .link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button:hover {
    position: relative;
    color: white;
    background-color: blueviolet;
    transform: rotate3d(1, 1, 0, 25deg);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: white;
}

.PDP .name:hover {
    margin-top: 50px;
    transition: .5s;
    background-size: 200% 200%;
    animation: gradient 3s ease-in-out infinite;
}

@keyframes gradient {
    0% { color: rgb(41, 0, 65) }
    25% { color: rgb(115, 0, 182) }
    50% { color: rgb(162, 0, 255) }
    50% { color: rgb(123, 0, 194) }
    1000% { color: rgb(41, 0, 65) }

}


.whoAmI {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    font-size: 40px;
    color: rgb(255, 239, 187)
}


.desc {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-left: 30%;
    top: 30%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.199)
}

.job {
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-top: 30px;
    margin-left: 30%;
    top: 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.199)
}