
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home  {
    position: absolute;
    top: 0;
    left: 0;
    filter: invert(1);
    height: 50px;
    width: 50px;

}

.formulaire {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    height: fit-content;
}

.formulaire .title{
    margin-left: auto;
    margin-right: auto;
    text-shadow: rebeccapurple;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 25px rgb(89, 0, 255), 0 0 5px  rgb(255, 255, 255);
}

input {
    color: white;
    background-color: rgba(255, 255, 255, 0.171);
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.61);
}

input:focus{
    outline: none;
}

form .identity {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

form input[type="email"] ,
form input[type="name"] {
    margin-left: 0px;
    border-radius: 15px;
    height: 35px;
    width: 235px;
}

.coreText:focus{
    outline: none;
}

.object {
    padding: 10px;
    border-radius: 15px;
}

.coreText {
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    margin: 0px;
    border: 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    height: 135px;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.61);
}

.boxText {
    display: grid;
    left: 20px;
    color: white;

}

button {
    background-color: rgba(255, 255, 255, 0.171);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border: 0;
    color: aqua;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.61);
}

form {
    display: grid;
    grid-gap: 15px;
    padding: 10px;
}

.loadingContainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: none;
    height: auto;
    margin: 0px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(224, 224, 224, 0.671);
    z-index: 100;
}

.loading {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
