body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: 100%;
    height: 100vh;
    background-image: url("../assets/radiantbg.png");
    align-items: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 60vh;
}

.card img {
    border-radius: 25px;
}

.card {
    backdrop-filter: blur(100px);
    background-color: rgba(41, 41, 41, 0.562);
    margin: 20px;
    border-radius: 25px;
    color: white;
    padding: 20px;
    text-align: center;
}